In [2]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

import numpy as np
import os

In [42]:
df = pd.read_csv('output/test/post/202307181308_InTaekJung_post_1.csv')
df

                 status            ts  ans  confidence  res
0             EXP_START  1.689653e+09   -1          -1   -1
1             TE1_START  1.689653e+09   -1          -1   -1
2   TE1_END&CONF1_START  1.689653e+09    5          -1    1
3   CONF1_END&TE2_START  1.689653e+09   -1           4   -1
4   TE2_END&CONF2_START  1.689653e+09    4          -1    0
5   CONF2_END&TE3_START  1.689653e+09   -1           4   -1
6   TE3_END&CONF3_START  1.689653e+09    4          -1    0
7   CONF3_END&TE4_START  1.689653e+09   -1           4   -1
8   TE4_END&CONF4_START  1.689653e+09    3          -1    0
9   CONF4_END&TE5_START  1.689653e+09   -1           3   -1
10  TE5_END&CONF5_START  1.689653e+09    5          -1    1
11            CONF5_END  1.689653e+09   -1           5   -1

In [48]:
inCorrAnsIdx = df.index[df['res'] == 0].tolist()
corrAnsIdx = df.index[df['res'] == 1].tolist()
print(inCorrAnsIdx, corrAnsIdx)

df_inCorr = df.copy().iloc[inCorrAnsIdx, :]
df_corr = df.copy().iloc[corrAnsIdx, :]
print(df_inCorr.head(), '\n', df_corr.head())

[4, 6, 8] [2, 10]
                status            ts  ans  confidence  res
4  TE2_END&CONF2_START  1.689653e+09    4          -1    0
6  TE3_END&CONF3_START  1.689653e+09    4          -1    0
8  TE4_END&CONF4_START  1.689653e+09    3          -1    0
                  status            ts  ans  confidence  res
2   TE1_END&CONF1_START  1.689653e+09    5          -1    1
10  TE5_END&CONF5_START  1.689653e+09    5          -1    1

In [46]:
from itertools import zip_longest

for inCorrIdx, corrIdx in zip_longest(inCorrAnsIdx, corrAnsIdx):
    print(inCorrIdx, corrIdx)
    if inCorrIdx is not None:
        df_inCorr.at[inCorrIdx, 'confidence'] = df.at[inCorrIdx+1, 'confidence']
    if corrIdx is not None:
        df_corr.at[corrIdx, 'confidence'] = df.at[corrIdx+1, 'confidence']

print(df_inCorr.head(), '\n', df_corr.head())

4 2
6 10
8 None
                status            ts  ans  confidence  res
4  TE2_END&CONF2_START  1.689653e+09    4           4    0
6  TE3_END&CONF3_START  1.689653e+09    4           4    0
8  TE4_END&CONF4_START  1.689653e+09    3           3    0
                  status            ts  ans  confidence  res
2   TE1_END&CONF1_START  1.689653e+09    5           4    1
10  TE5_END&CONF5_START  1.689653e+09    5           5    1

In [51]:
inCorrCnt, corrCnt = df_inCorr.shape[0], df_corr.shape[0]


print('틀린문제: ', inCorrCnt,
      '\n정답률: ', corrCnt/5)

틀린문제:  3
정답률:  0.4